<a href="https://colab.research.google.com/github/bchiramani/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Pandas

In [ ]:
import pandas as pd

## Creating a DataFrame

In [ ]:
buildings=pd.DataFrame({'longueur':[10,22,14,16,9],'largeur':[8,18,12,14,8],'surface':[80,396,168,224,72],'rooms':[2,4,3,3,2],'country':['Canada','Tunisia','Canada','Australia','Tunisia'],'price':[80,140,100,140,70]},index=['home 1','home 2','home 3','home 4','home 5'])
buildings

        longueur  largeur  surface  rooms    country  price
home 1        10        8       80      2     Canada     80
home 2        22       18      396      4    Tunisia    140
home 3        14       12      168      3     Canada    100
home 4        16       14      224      3  Australia    140
home 5         9        8       72      2    Tunisia     70

## Indexing, Selecting & Assigning

In [ ]:
buildings.surface

home 1     80
home 2    396
home 3    168
home 4    224
Name: surface, dtype: int64

In [ ]:
buildings.surface[0]

80

In [ ]:
buildings['surface']

home 1     80
home 2    396
home 3    168
home 4    224
Name: surface, dtype: int64

In [ ]:
buildings['surface'][0]

80

In [ ]:
buildings.rooms >=3

home 1    False
home 2     True
home 3     True
home 4     True
Name: rooms, dtype: bool

The indexing operator and attribute selection work just like they do in the rest of the Python ecosystem. 
However, pandas has its own accessor operators, loc and iloc.

### Index-based selection
Selecting data based on its numerical position in the data. iloc follows this paradigm.

In [ ]:
#To get the values of all attibutes of home0
buildings.iloc[0]

longueur        10
largeur          8
surface         80
rooms            2
country     Canada
price           80
Name: home 1, dtype: object

In [ ]:
# To get the values of all attributes of home0
buildings.iloc[0,:]

longueur        10
largeur          8
surface         80
rooms            2
country     Canada
price           80
Name: home 1, dtype: object

In [ ]:
# To get the value of the second attribute of home0
buildings.iloc[0,1]

8

In [ ]:
# To get the value of the surface of all homes
buildings.iloc[:,2]

home 1     80
home 2    396
home 3    168
home 4    224
Name: surface, dtype: int64

In [ ]:
#To get the values of all attributes of home1 , home2 and home4
buildings.iloc[[0,1,3],:]

        longueur  largeur  surface  rooms    country  price
home 1        10        8       80      2     Canada     80
home 2        22       18      396      4   tunnisia    120
home 4        16       14      224      3  Australia    140

### Label-based selection
Selecting data based on its value, not its position

In [ ]:
# Select the number of rooms for home 1
buildings.loc['home 1','rooms']

2

In [ ]:
buildings.loc[['home 1','home 3'],['rooms','price']]

        rooms  price
home 1      2     80
home 3      3    100

In [ ]:
# Select [ home1 ; home3 ]
buildings.loc['home 1':'home 3',['rooms','price']]

        rooms  price
home 1      2     80
home 2      4    120
home 3      3    100

In [ ]:
# Select [ home1 ; home2 ]
buildings.iloc[0:2,[3,5]]

        rooms  price
home 1      2     80
home 2      4    120

In [ ]:
buildings.loc[ buildings.rooms >= 3 ]

        longueur  largeur  surface  rooms    country  price
home 2        22       18      396      4   tunnisia    120
home 3        14       12      168      3     Canada    100
home 4        16       14      224      3  Australia    140

In [ ]:
buildings.loc[ (buildings.rooms >= 3) & (buildings.surface>=200) ]

        longueur  largeur  surface  rooms    country  price
home 2        22       18      396      4   tunnisia    120
home 4        16       14      224      3  Australia    140

In [ ]:
buildings.loc[ (buildings.rooms >= 3) | (buildings.surface>=200) ]

        longueur  largeur  surface  rooms    country  price
home 2        22       18      396      4   tunnisia    120
home 3        14       12      168      3     Canada    100
home 4        16       14      224      3  Australia    140

In [ ]:
buildings.loc[ buildings.country.isin(['tunisia','Australia'])]

        longueur  largeur  surface  rooms    country  price
home 2        22       18      396      4    tunisia    120
home 4        16       14      224      3  Australia    140

## Summary Function

In [ ]:
buildings.describe()

       longueur    largeur     surface     rooms       price
count       4.0   4.000000    4.000000  4.000000    4.000000
mean       15.5  13.000000  217.000000  3.000000  110.000000
std         5.0   4.163332  133.241635  0.816497   25.819889
min        10.0   8.000000   80.000000  2.000000   80.000000
25%        13.0  11.000000  146.000000  2.750000   95.000000
50%        15.0  13.000000  196.000000  3.000000  110.000000
75%        17.5  15.000000  267.000000  3.250000  125.000000
max        22.0  18.000000  396.000000  4.000000  140.000000

In [ ]:
buildings.surface.mean()

217.0

In [ ]:
buildings.rooms.value_counts()

3    2
2    1
4    1
Name: rooms, dtype: int64

## Maps

In [ ]:
mean = buildings.surface.mean()
buildings.surface.map(lambda s: s-mean)

home 1   -137.0
home 2    179.0
home 3    -49.0
home 4      7.0
Name: surface, dtype: float64

In [ ]:
def mean_room_size(row):
  return (row.surface/(row.rooms+1.5))
rooms_size=buildings.apply(mean_room_size,axis='columns')
rooms_size

home 1    22.857143
home 2    72.000000
home 3    37.333333
home 4    49.777778
dtype: float64

In [ ]:
#Which home has the biggest room size
home_index=(buildings.surface/(buildings.rooms+1.5)).idxmax()
home_index
#home_index = "home 2"
home=buildings.loc[home_index,:]
home

longueur         22
largeur          18
surface         396
rooms             4
country     tunisia
price           120
Name: home 2, dtype: object

## Grouping

In [ ]:
#Home many homes with x rooms
buildings.groupby('rooms').rooms.count()

rooms
2    1
3    2
4    1
Name: rooms, dtype: int64

In [ ]:
# Mean surface of home with x rooms
buildings.groupby('rooms').price.mean()

rooms
2     80.0
3    120.0
4    140.0
Name: price, dtype: float64

In [ ]:
buildings.groupby(['rooms']).price.agg(['min','max','mean'])

       min  max   mean
rooms
2       80   80   80.0
3      100  140  120.0
4      140  140  140.0

## Sorting

In [ ]:
buildings.sort_values(by='surface',ascending=False)

        longueur  largeur  surface  rooms    country  price
home 2        22       18      396      4    Tunisia    140
home 4        16       14      224      3  Australia    140
home 3        14       12      168      3     Canada    100
home 1        10        8       80      2     Canada     80
home 5         9        8       72      2    Tunisia     70

In [ ]:
buildings.sort_values(by='surface')

        longueur  largeur  surface  rooms    country  price
home 5         9        8       72      2    Tunisia     70
home 1        10        8       80      2     Canada     80
home 3        14       12      168      3     Canada    100
home 4        16       14      224      3  Australia    140
home 2        22       18      396      4    Tunisia    140

## Renaming and Combining
rename() , concat() , join()

In [ ]:
buildings.rename(columns={'rooms':'n_rooms'})

        longueur  largeur  surface  n_rooms    country  price
home 1        10        8       80        2     Canada     80
home 2        22       18      396        4    Tunisia    140
home 3        14       12      168        3     Canada    100
home 4        16       14      224        3  Australia    140
home 5         9        8       72        2    Tunisia     70

In [ ]:
buildings.rename(index={'home 1':'home_1','home 2':'home_2'})

        longueur  largeur  surface  rooms    country  price
home_1        10        8       80      2     Canada     80
home_2        22       18      396      4    Tunisia    140
home 3        14       12      168      3     Canada    100
home 4        16       14      224      3  Australia    140
home 5         9        8       72      2    Tunisia     70

In [100]:
# Set the index name in the database to home and the columns as fields
buildings.rename_axis('home', axis='rows').rename_axis("fields", axis='columns')

fields  longueur  largeur  surface  rooms    country  price
home
home 1        10        8       80      2     Canada     80
home 2        22       18      396      4    Tunisia    140
home 3        14       12      168      3     Canada    100
home 4        16       14      224      3  Australia    140
home 5         9        8       72      2    Tunisia     70

In [ ]:
other_buildings=pd.DataFrame({'longueur':[10,22,14,16,9],'largeur':[8,18,12,14,8],'surface':[80,396,168,224,72],'rooms':[2,4,3,3,2],'country':['Canada','Tunisia','Canada','Australia','Tunisia'],'price':[80,140,100,140,70]},index=['home 10','home 11','home 12','home 13','home 14'])

In [ ]:
pd.concat([buildings,other_buildings])

         longueur  largeur  surface  rooms    country  price
home 1         10        8       80      2     Canada     80
home 2         22       18      396      4    Tunisia    140
home 3         14       12      168      3     Canada    100
home 4         16       14      224      3  Australia    140
home 5          9        8       72      2    Tunisia     70
home 10        10        8       80      2     Canada     80
home 11        22       18      396      4    Tunisia    140
home 12        14       12      168      3     Canada    100
home 13        16       14      224      3  Australia    140
home 14         9        8       72      2    Tunisia     70

In [102]:
other_buildings_2=pd.DataFrame({'hight':[10,22,14,16,9],'width':[8,18,12,14,8],'space':[80,396,168,224,72],'n_rooms':[2,4,3,3,2],'country_1':['Canada','Tunisia','Canada','Australia','Tunisia'],'highest_price':[80,140,100,140,70]},index=['home 10','home 11','home 12','home 13','home 14'])

In [104]:
all_buildings=buildings.join(other_buildings_2)
all_buildings

,longueur,largeur,surface,rooms,country,price,hight,width,space,n_rooms,country_1,highest_price
home 1,10,8,80,2,Canada,80,NaN,NaN,NaN,NaN,NaN,NaN
home 2,22,18,396,4,Tunisia,140,NaN,NaN,NaN,NaN,NaN,NaN
home 3,14,12,168,3,Canada,100,NaN,NaN,NaN,NaN,NaN,NaN
home 4,16,14,224,3,Australia,140,NaN,NaN,NaN,NaN,NaN,NaN
home 5,9,8,72,2,Tunisia,70,NaN,NaN,NaN,NaN,NaN,NaN